<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin: 10% auto;background:chartreuse;height:50%;width: 50%;">
    <form method="post" action="v1/createUser" enctype="multipart/form-data">
        <div style="background:green">
            大帅银行用户注册
        </div>
        <div>
            <span>用户名：</span>
            <input type="text" name="name">
        </div>
        <div>
            <span>密码：</span>
            <input type="password" name="password">
        </div>
        <span>
                <input type="submit" value="注册">
        </span>
    </form>
</div>
</body>
</html>